@import "reset";
@import "colors";
@import "font";
@import "spacings";
@import "utilities";
@import "buttons";
@import "mixins";
@import "animations";

body {
  color: $text-color;
  header {
    @include basic-text();
    nav {
      justify-content: space-between;
      background-color: $primary;
      align-items: center;
      .logo {
        width: 100px;
        svg {
          fill: red;
        }
      }
      #links {
        gap: 1em;
        a {
          cursor: pointer;
        }
      }
    }
    #hero {
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      background-color: $bg-color;
      #hero-text {
        width: 50vw;
        h1 {
          @include fade-in(2s, -50%, 0px, 1s, fade-in1);
          @include title-big();
          font-size: 1.5em;
        }
        p {
          @include fade-in(2s, -50%, 0px, 2s, fade-in2);

          width: 300px;
        }
        #hero-buttons {
          @include fade-in(2s, -50%, 0px, 3s, fade-in3);
          button {
            padding: 0.5em;
            cursor: pointer;
          }
        }
      }
      #hero-img {
        img {
          @include fade-in(2s, -50%, 0px, 4s, fade-in4);
          @include floating();
          width: 50vw;
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }
  main {
    section {
      @include grid(4);
      div {
        img {
          @include floating($shadow: 0px 5px 22px 1px rgba(0, 0, 0, 0.72), $border: none);
          width: 100%;
        }
      }
    }
  }
}